################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BrandoSoft.CSharp.ExpressionEvaluator/bin/Debug
/BrandoSoft.CSharp.ExpressionEvaluator/obj/Debug
/packages/Mono.CSharp.4.0.0.143
/packages/NUnit.3.4.1
*.user
/BrandoSoft.CSharp.ExpressionEvaluator.UI.Winforms/obj/Debug
/BrandoSoft.CSharp.Evaluator/bin/Debug
/BrandoSoft.CSharp.Evaluator/obj/Debug
/BrandoSoft.CSharp.Evaluator.UI.Winforms/obj/Debug
/BrandoSoft.CSharp.Evaluator.UI.Winforms/bin/Debug
